<html>
  <head>
    <title>$generalUtil.htmlEncode($pageTitle)</title>
    <meta name="decorator" content="atl.userprofile" />
    <meta name="tab" content="my-competences"/>
    <script type="text/javascript" src="$req.contextPath/download/resources/com.cybercom.confluence.competence.confluence-competence-plugin:confluence-competence-plugin-resources/wordcloud2.js"></script>
  </head>
  #applyDecorator("root")
    #decoratorParam("context" "profile")
    #decoratorParam("mode" "my-competences")
    #decoratorParam ("selectedTab" "my-competences")
    #decoratorParam("helper" $action.helper)
    <body>
      <h1>Manage Your Competences for the Competence Tag Cloud!</h1>
      <p>
        This page will have list of your competences with associated endorsements.
        Also, it will have suggested competences to accept/add.
        There is the list of all the teams you belong to.
        It will show your personal tag cloud.
      </p>
      <script>
        function makeWordCloud() {
          if (window.WordCloud) {
            var wordlist = ['JavaScript', 'TypeScript', 'Linux', 'HTML5', 'ikebana', 'smoke signals',
              'Spring', 'Java', 'Confluence', 'Lisp'];
            var list = wordlist.map(function(item) {
              return [item, Math.floor(1 + Math.random() * 20)];
            });
            var configuration = {
              fontFamily: 'Times, serif',
              hover: function(item, dimension, event) {
                if (item) {
                  console.log('Item hovered: ' + item);
                }
              },
              click: function(item, dimension, event) {
                console.log('Item clicked: ' + item);
              },
              weightFactor: function(size) {
                return Math.sqrt(size / 5) * 50;
              },
              list: list
            };
            WordCloud(document.getElementById('tagCloud'), configuration );
          } else {
            setTimeout(makeWordCloud, 500);
          }
        };
        setTimeout(makeWordCloud, 500)
      </script>
      <canvas id="tagCloud" width="800" height="500" style="width: 800px; height: 500px;"></canvas>
    </body>
  #end
</html>