<html>
  <head>
    <title>$generalUtil.htmlEncode($pageTitle)</title>
    <meta name="decorator" content="atl.userprofile" />
    <meta name="tab" content="my-competences"/>
    <script type="text/javascript" src="$req.contextPath/download/resources/com.cybercom.confluence.competence.confluence-competence-plugin:confluence-competence-plugin-resources/wordcloud2.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  </head>
  #applyDecorator("root")
    #decoratorParam("context" "profile")
    #decoratorParam("mode" "my-competences")
    #decoratorParam ("selectedTab" "my-competences")
    #decoratorParam("helper" $action.helper)
    <body>
      <h1>Manage Your Competences for the Competence Tag Cloud!</h1>
      <p>
        This page will have list of your competences with associated endorsements.
        Also, it will have suggested competences to accept/add.
        There is the list of all the teams you belong to.
        It will show your personal tag cloud.
      </p>
      <div>
        <form id="addCompetenceField">
          <input type="text" id="competenceField" list="competenceAutocomplete" placeholder="competence" oninput="refreshAutocomplete()"/>
          <datalist id="competenceAutocomplete"></datalist>
          <button type="submit">Add competence</button>
        </form>
      </div>
      <script>
        function refreshAutocomplete() {
          var dataList = jQuery("#competenceAutocomplete");
          var input = jQuery("#competenceField");
          jQuery.get("$req.contextPath/rest/competence/1.0/autocomplete.json",
            {prefix: input.val()}, function( data ) {
              console.log("Got data: " + JSON.stringify(data.value));
              dataList.empty();
              data.value.sort().forEach(function(item) {
                dataList.append('<option value="' + item + '">' + item + '</option>');
              });
          });
        }
        function makeWordCloud() {
          if (window.WordCloud) {
            var wordlist = ['JavaScript', 'TypeScript', 'Linux', 'HTML5', 'ikebana', 'smoke signals',
              'Spring', 'Java', 'Confluence', 'Lisp'];
            var list = wordlist.map(function(item) {
              return [item, Math.floor(1 + Math.random() * 20)];
            });
            var configuration = {
              fontFamily: 'Times, serif',
              hover: function(item, dimension, event) {
                if (item) {
                  console.log('Item hovered: ' + item);
                }
              },
              click: function(item, dimension, event) {
                console.log('Item clicked: ' + item);
              },
              weightFactor: function(size) {
                return Math.log(size + 1) * 30;
              },
              list: list
            };
            WordCloud(document.getElementById('tagCloud'), configuration );
          } else {
            setTimeout(makeWordCloud, 500);
          }
        };
        setTimeout(makeWordCloud, 500)
      </script>
      <canvas id="tagCloud" width="800" height="500" style="width: 800px; height: 500px;"></canvas>
    </body>
  #end
</html>