<html>
  <head>
    <title>$generalUtil.htmlEncode($pageTitle)</title>
    <meta name="decorator" content="atl.userprofile" />
    <meta name="tab" content="my-competences"/>
    <script type="text/javascript" src="$req.contextPath/download/resources/com.cybercom.confluence.competence.confluence-competence-plugin:confluence-competence-plugin-resources/confluence-competence-plugin.js"></script>
    <script type="text/javascript" src="$req.contextPath/download/resources/com.cybercom.confluence.competence.confluence-competence-plugin:confluence-competence-plugin-resources/wordcloud2.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  </head>
  #applyDecorator("root")
    #decoratorParam("context" "profile")
    #decoratorParam("mode" "my-competences")
    #decoratorParam ("selectedTab" "my-competences")
    #decoratorParam("helper" $action.helper)
    <body>
      <h1>Manage Your Competences for the Competence Tag Cloud!</h1>
      <p>
        This page will have list of your competences with associated endorsements.
        Also, it will have suggested competences to accept/add.
        There is the list of all the teams you belong to.
        It will show your personal tag cloud.
      </p>
      <div>
        <form id="addCompetenceField">
          <input type="text" id="competenceField" list="competenceAutocomplete" placeholder="competence" oninput="refreshAutocomplete()"/>
          <datalist id="competenceAutocomplete"></datalist>
          <button onClick="addCompetence()" type="button">Add competence</button>
        </form>
      </div>
      <canvas id="tagCloud" width="800" height="500" style="width: 800px; height: 500px;"></canvas>
      <script>
        makeWordCloud();
      </script>
      <button onClick="test()" type="button">test</button>
      <button onClick="getAllUsers()" type="button">Get All Users</button>
      <button onClick="addCompetence()" type="button">Add Competence</button>
    </body>
  #end
</html>
